<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3471401153359729"
      crossorigin="anonymous"></script>
      <!-- site metas -->
      <title>FFF</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
     
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="/css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
       <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
      <%- include("partials/_menu") %>
         <!-- top -->
      <div class="full_bg bt_fe">
         <div class="slider_main">
          <div class="container-fluid">
            <div class="row d_flex">
              <div class="col-md-5">
                <div class="creative">
                  <h1> <small><small>Fans Football Fedaration</small></small></h1>
                  <a class="read_more" href="/contact">Contact Us</a>
                </div>
              </div>
              <div class="col-md-7">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <!-- first slide -->
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                              <div class="col-md-12">
                                 <div class="cemara">
                                  <figure><img src="images/player_img.jpg" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- second slide -->
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                             <div class="col-md-12">
                                 <div class="cemara">
                                  <figure><img src="images/player_img.jpg" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- third slide-->
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                             <div class="col-md-12">
                                  <div class="cemara">
                                  <figure><img src="images/player_img.jpg" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- controls -->
               <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
               <i class="fa fa-arrow-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
          </div>
        </div>
      </div>
         </div>
      </div>
   </div>
      <!-- end banner -->
      <!-- gallery -->
      <div class="gallery">
         <div class="container_with">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <span>01</span>
                     <h2>Recent News</h2>
                  </div>
               </div>
            </div>
            <div class="tz-gallery">
                     <div class="row">


                        <% for (news of news) { %>
                        <div class="col-lg-4 col-md-6 ma_bottom30">
                           <div class="lightbox">
                              <img src="<%= news.url %>" alt="<%= news.name %>">
                              <div class="view_main">
                                <div class="pose">
                                <a class="read_more" href="<%= news.url %>"><img src="images/ga.png" alt="#"/></a>
                                <p><%= news.description %></p>
                              </div>
                              </div>
                           </div>
                        </div>
                        <% } %>
                        
                  </div>
                  <div class="col-md-12">

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end gallery -->
      <!-- about -->
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <span>02</span>
                <h2>About Us</h2>
                <p>Founded on April 23, 1923; TFF is the authorized institution to carry out football activities in Turkey, to ensure the development and spread of football throughout the country, to make all kinds of regulations, to take decisions and to implement them.</p>
                <a class="read_more" href="about.html">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/tff.jpg" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <!-- Sonuçlar -->
      <div class="Sonuçlar">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <span>02</span>
                <h2>Sonuçlar</h2>
                <p>{"result":[{
                  "skor":"0-0",
                  "date":"2023-01-07T13:00:00+03:00",
                  "away":"Fraport TAV Antalyaspor",
                  "home":"Atakaş Hatayspor"},
                  {"skor":"2-1",
                  "date":"2023-01-07T16:00:00+03:00",
                  "away":"Kasımpaşa",
                  "home":"Beşiktaş"},
                  {"skor":"3-3",
                  "date":"2023-01-08T10:30:00+03:00",
                  "away":"Arabam.com Konyaspor",
                  "home":"VavaCars Fatih Karagümrük"},
                  {"skor":"2-1",
                  "date":"2023-01-08T13:00:00+03:00",
                  "away":"Yukatel Kayserispor",
                  "home":"MKE Ankaragücü"},
                  {"skor":"0-1",
                  "date":"2023-01-08T13:00:00+03:00",
                  "away":"HangiKredi Ümraniyespor",
                  "home":"Bitexen Giresunspor"},
                  {"skor":"undefined-undefined",
                  "date":"2023-01-08T16:00:00+03:00",
                  "away":"Galatasaray",
                  "home":"Fenerbahçe"},
                  {"skor":"undefined-undefined",
                  "date":"2023-01-09T14:00:00+03:00",
                  "away":"Adana Demirspor",
                  "home":"Medipol Başakşehir"},
                  {"skor":"undefined-undefined",
                  "date":"2023-01-09T17:00:00+03:00",
                  "away":"Trabzonspor",
                  "home":"Corendon Alanyaspor"},
                  {"skor":"undefined-undefined",
                  "date":"2023-01-09T17:00:00+03:00",
                  "away":"Gaziantep FK",
                  "home":"İstanbulspor"}</p>
                <a class="read_more" href="about.html">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/puan durumu.png" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- puan durumu --></p>
       <!-- announcment -->
       <div class="announcment">
         <div class="container">
           <div class="row">
             <div class="col-md-6">
               <div class="titlepage text_align_left">
                 <span>03</span>
                 <h2>Announcment</h2>
                 <p>Kamuoyunun Bilgilerine;

                  Son dönemde meydana gelen hakem hatalarıyla ilgili olarak, Türkiye Futbol Federasyonu ilgili kurulları ile gerekli incelemeleri yapmıştır. Bu kapsamda Gaziantep FK A.Ş. - Beşiktaş A.Ş. ve Demir Grup Sivasspor - Galatasaray A.Ş. maçlarının VAR kayıtları incelenmiştir ve bahsi geçen maçlarda hakemlerin "önemli hakem hatası" yaptıkları tespit edilmiştir.
                  
                  Şeffaflık ilkemiz gereği kamuoyunda oluşan spekülasyonları da ortadan kaldırmak amacıyla Türkiye Futbol Federasyonu Yönetim Kurulu'nun kararıyla; söz konusu maçlardaki tartışılan pozisyonlara ait VAR kayıtlarının yayınlanmasına karar verilmiştir.
                  
                  Göreve geldiğimiz ilk gün sözünü verdiğimiz şeffaflık ilkemiz gereği kamuoyunda en küçük soru işareti bırakmadan çalışmalarımızı sürdürürken, hakemlik müessesesinin de zarar görmemesi için maksimum hassasiyeti göstereceğimiz konusunda kamuoyunu temin ederiz. Bazı hakemler tarafından yapılan hataların tüm futbol camiasına mal edilmesine de izin verilmeyecektir.
                  
                  Bu iki maç ile ilgili hatalı bulunan hakemler hakkında Merkez Hakem Kurulu gerekli yaptırımları uygulayacaktır.
                  
                  Kamuoyunun bilgilerine saygılarımızla sunarız.
                  
                  Türkiye Futbol Federasyonu
                  </p>
                 <a class="read_more" href="about.html">Read More</a>
               </div>
             </div>
             <div class="col-md-6">
               <div class="about_img">
                 <figure><img src="images/announcment.png" alt="#"/></figure>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- end announcment -->
      <!-- team -->
      <div class="team">
         <div class="container_with">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                    <span>04</span>
                     <h2>TFF ORGANS</h2>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/general_assembly.jpg" alt="#"/></figure>
                     </div>
                     <div class="craig">
                       <h3>GENERAL ASSEMBLY</h3>
                       <span style="text-align: justify;">
                     <small>
                        <small>
                           The General Assembly is the authoritative decision-making body of the TFF. All decisions concerning TFF, are taken by a duly convened General Assembly.

                        </small>
                     </small>
                     
                     </span>

                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/administrative_body.jfif" alt="#"/></figure>
                     </div>
                     <div class="craig">
                       <h3>ADMINISTRATIVE BODY</h3>
                       <span style="text-align: justify;">
                     <small>
                        <small>
                           Administrative body is the body responsible for the distribution of duties within the TFF, ensuring the execution of the decisions of the general assembly and supervising the operations of other TFF committees.
                        </small>
                     </small>
                     </span>

                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/supervisory_body.jfif" alt="#"/></figure>
                     </div>
                     <div class="craig">
                       <h3>SUPERVISORY BOARD</h3>
                       <span style="text-align: justify;"> <small>
                        <small>
                           The Supervisory Board audits the financial transactions of the Federation on behalf of the General Assembly in accordance with the instruction prepared by the Administrative Body and accepted by the General Assembly. It submits the annual audit report to be prepared every year for the approval of the General Assembly.
                        </small>
                        
                       </span>


                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end team -->
      <!--  customers -->
      <div class="customers">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage text_align_center">
                <span>05</span>
                <h2>Why Prime Membership?</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="satteb text_align_center">
                <p> With the prime mebersjip you will see no adds when you enter the site, besides you can evaluate every referes after the matches, so that have a power to determine next matches' referees</p>
                <h3>The point of using </h3>
                <i> 
                  <img src="images/indir.png" alt="#"/></i>

                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end customers  -->
      
      <!-- end contact -->
      <%- include("partials/_footer") %>
      <!-- end footer -->
 